@import '~bootstrap/scss/bootstrap';

body {
  width: 100vw;
  // max-width: 1920px;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: -1;
  background-color: brown;
  overflow: hidden;
  --s: 120px;  /* size  */
  --m: .05rem;    /* margin */
  --f: calc(1.735 * var(--s) + 4 * var(--m)  - 1px);
}

.border {
  border: 3px solid $black;
  border-radius: 1rem;
  padding: 5% 15%;
  margin: 5%;

  &:hover {
    background-color: rgba(150,150,255,.2)
  }
}

#gameMenu {
  margin-left: 2vw;
}

#gameMenu * {
  margin-top: 3vh;
}

#gameLog {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 40vh;
  background-color: rgba(255,255,255,.3);
}


#gameLog p {
  margin: 0;
  font-size: 1rem;
  width: 100%;
}

#chatInput {
  margin-top: -25px;
  margin-left: 0;
  margin-right: 0;
}

#send {
  width: 77px;
  margin-left: 0;
  margin-right: 0;
}

.board {
  background-color: lightgoldenrodyellow;
  position: absolute;
  padding-bottom: 120px;
  margin-top: -30px;
  overflow: hidden;
  display:flex;
  width: 1125px;
}

.board * {
  transition: .3s;
}

.container {
  margin: inherit;
  padding: 0;
}

.container .boardRow {
  position: relative;
  display: block;
}

.boardRow div {
  overflow: hidden;
  position: relative;
  padding: 0;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.16);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.29);
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
                   #0000 0 calc(var(--f) - 3px),
                   #000  0 var(--f));
}

.water {
  background-color: lightskyblue;
  z-index: 10;
}

.port {
  opacity: 1;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('public/images/port.png');
}

.land {
  background-color: lightgreen;
  background-size: 75%;
  background-position: center;
}

.desert {
  background-color: lightgoldenrodyellow;
}

.sheep {
  background-color: lightgreen;

    &:hover {
      background-image: url('public/images/sheep.png');
      background-size: 68%;
    }
}

.wheat {
  background-color: gold;
  background-size: 160%;

  &:hover {
    background-image: url('public/images/wheat.png');
    background-position-y: -10%;
    background-size: 152%;
  }
}

.wood {
  background-color: darkgreen;
  background-size: 280%;

  &:hover {
    background-image: url('public/images/wood.png');
    background-size: 202%;
  }
}

.brick {
  background-color: brown;
  background-size: 246%;

  &:hover {
    background-image: url('public/images/brick.png');
    background-size: 336%;
  }
}

.ore {
  background-color: slategray;

  &:hover {
    background-image: url('public/images/ore.png');
    background-size: 145%;
  }
}

.settlement {
  bottom: 10vh;
  width: calc(var(--s) / 3);
  height: calc((var(--s)*1.16) / 2);
  position: absolute;
  z-index: 999 !important;
  clip-path: polygon(40% 5%, 72% 30%, 72% 60%, 8% 60%, 8% 30%);
}

.road {
  bottom: 10vh;
  border: 1px solid black;
  height: calc((3 * var(--s)) / 5);
  width: 10px;
  position: absolute;
  z-index: 998 !important;

  &.t-l {
    transform: rotate(240deg);
  }
  &.t-r {
    transform: rotate(120deg);
  }
  &.b-r {
    transform: rotate(240deg);
  }
  &.b-l {
    transform: rotate(120deg);
  }
}

.land .r {
  top: 25%;
  left: 25%;
  height: calc((3 * var(--s)) / 5);
  width: 20px;
  position: absolute;
  z-index: 998 !important;
  background-color: transparent;
  clip-path: unset;

  &.t-l {
    transform: rotate(240deg);
    top: -20% !important;
    left: 40% !important;
  }
  &.t-r {
    transform: rotate(120deg);
    top: -20% !important;
    left: 95% !important;
  }
  &.r-m {
    top: 25% !important;
    left: 97% !important;
  }
  &.b-r {
    transform: rotate(240deg);
    top: 57% !important;
    left: 95% !important;
  }
  &.b-l {
    transform: rotate(120deg);
    top: 57% !important;
    left: 40% !important;
  }
  &.l-m {
    top: 25% !important;
    left: -5% !important;
  }
}

.land .i {
  top: 25%;
  left: 25%;
  width: calc(var(--s) / 2);
  height: calc((var(--s)*1.16) / 2);
  position: absolute;
  z-index: 998 !important;
  background-color: transparent;
  clip-path: circle();

  &.t {
    top: -25% !important;
  }

  &.t-l {
    top: -5% !important;
    left: -25% !important;
  }

  &.t-r {
    top: -5% !important;
    left: 75% !important;
  }

  &.b-l {
    top: 50% !important;
    left: -25% !important;
  }

  &.b-r {
    top: 50% !important;
    left: 75% !important;
  }

  &.b {
    top: 75% !important;
  }
}

#dice {
  display: flex;
  justify-content: space-evenly;
  height: 130px;
  padding-top: 22.5px;
}

.dice {
  display: inline-flex;
}

#resources, #build, #selectColor {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;

  h2 {
    line-height: 60px;
    vertical-align: middle;
  }
}

.resource {
  font-size: 25px;
  font-weight: bold;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  display:inline-block;
  height: 60px;
  width: 60px;
  border: 5px solid black;
  border-radius: 15%;

  &:hover {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    &#sheep { background-image: url('public/images/sheep.png') }
    &#wheat { background-image: url('public/images/wheat.png') }
    &#wood { background-image: url('public/images/wood.png') }
    &#brick { background-image: url('public/images/brick.png') }
    &#ore { background-image: url('public/images/ore.png') }
  }

  &#sheep { background-color: lightgreen }
  &#wheat { background-color: gold }
  &#wood { background-color: darkgreen }
  &#brick { background-color: brown }
  &#ore { background-color: slategray }
}

.color {
  display:inline-block;
  height: 60px;
  width: 60px;
  border: 5px solid black;
  border-radius: 15%;

  &#red { background-color: red }
  &#blue { background-color: blue }
  &#white { background-color: white }
  &#orange { background-color: orange }
}

$numbers: 2, 3, 4, 5, 6, 8, 9, 10, 11, 12;

@each $number in $numbers {
  .marker#{$number} {
    opacity: 1;
    background-image: url('public/images/#{$number}.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    font-size: 12px;
    color: black;

    &:hover {
      opacity: 0;
      background-color: transparent;
    }
  }
  .sheep > .marker#{$number} {
    background-color: lightgreen;
  }
  .wheat > .marker#{$number} {
    background-color: gold;
  }
  .wood > .marker#{$number} {
    background-color: darkgreen;
  }
  .brick > .marker#{$number} {
    background-color: brown;
  }
  .ore > .marker#{$number} {
    background-color: slategray;
  }
}

#rollDice {
  height: 40px;
  width: 88px;
  margin-top: 24px;
}

.build {
  height: 40px;
  margin-top: 12px;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  #menu {
    width: 100vw;
  }
}
