@import '~bootstrap/scss/bootstrap';

body {
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: -1;
  background-color: brown;
  overflow: visible;
  --s: 6vw;  /* size  */
  --m: .05rem;    /* margin */
  --f: calc(1.735 * var(--s) + 4 * var(--m)  - 1px);
}

.border {
  border: 3px solid $black;
  border-radius: 1rem;
  padding: 5% 15%;
  margin: 5%;

  &:hover {
    background-color: rgba(150,150,255,.2)
  }
}

#gameMenu {
  margin-left: 2vw;
}

#gameMenu * {
  margin-top: 3vh;
}

#gameLog {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 40vh;
  background-color: rgba(255,255,255,.3);
}


#gameLog p {
  margin: 0;
  font-size: 1rem;
  width: 100%;
}

.board {
  background-color: lightgoldenrodyellow;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  display:flex;
  width: calc(5 * --s);
}

.board * {
  transition: .3s;
}

.container {
  width: 80vw;
  margin: inherit;
  padding: 0;
}

.container .boardRow {
  position: relative;
  display: block;
  width: 80vw;
}

.boardRow div {
  overflow: hidden;
  position: relative;
  padding: 0;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.16);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.29);
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
                   #0000 0 calc(var(--f) - 3px),
                   #000  0 var(--f));
}

.water {
  background-color: lightskyblue;
}

.port {
  opacity: 1;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('public/images/port.png');
}

.land {
  background-color: lightgreen;
  background-size: 75%;
  background-position: center;
}

.desert {
  background-color: lightgoldenrodyellow;
}

.sheep {
  background-color: lightgreen;

    &:hover {
      background-image: url('public/images/sheep.png');
      background-size: 68%;
    }
}

.wheat {
  background-color: gold;
  background-size: 160%;

  &:hover {
    background-image: url('public/images/wheat.png');
    background-position-y: -10%;
    background-size: 152%;
  }
}

.wood {
  background-color: darkgreen;
  background-size: 280%;

  &:hover {
    background-image: url('public/images/wood.png');
    background-size: 202%;
  }
}

.brick {
  background-color: brown;
  background-size: 246%;

  &:hover {
    background-image: url('public/images/brick.png');
    background-size: 336%;
  }
}

.ore {
  background-color: slategray;

  &:hover {
    background-image: url('public/images/ore.png');
    background-size: 145%;
  }
}

.settlement {
  top: 0;
  width: calc(var(--s) / 3);
  height: calc((var(--s)*1.16) / 2);
  position: absolute;
  z-index: 999 !important;
  background-color: orange;
  clip-path: polygon(40% 5%, 72% 30%, 72% 60%, 8% 60%, 8% 30%);

  &:hover {
    background-color: green;
  }
}

.row .intersect {
  top: 0;
  width: calc(var(--s) / 2);
  height: calc((var(--s)*1.16) / 2);
  position: absolute;
  z-index: 999 !important;
  background-color: transparent;
  clip-path: circle();

  &:hover {
    background-color: rgba(0,0,0,.2);
  }
}

$numbers: 2, 3, 4, 5, 6, 8, 9, 10, 11, 12;

@each $number in $numbers {
  .marker#{$number} {
    opacity: 1;
    background-image: url('public/images/#{$number}.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    font-size: 12px;
    color: black;

    &:hover {
      opacity: 0;
      background-color: transparent;
    }
  }
  .sheep > .marker#{$number} {
    background-color: lightgreen;
  }
  .wheat > .marker#{$number} {
    background-color: gold;
  }
  .wood > .marker#{$number} {
    background-color: darkgreen;
  }
  .brick > .marker#{$number} {
    background-color: brown;
  }
  .ore > .marker#{$number} {
    background-color: slategray;
  }
}

@media screen and (max-aspect-ratio: 1 / 1) {
  #menu {
    width: 100vw;
  }
}
